@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: #e84e24;
    --primary-foreground: #fff;
    --secondary: ;
    --secondary-foreground: 0 0% 9%;
    --border: 10px;
    --input: #e84e24;
    --ring: 0 0% 3.9%;
    --radius: 10px;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "estedad";
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* TODO: REMOVE EXTRA FONTS LATER  */
@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-Light.woff2") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-Regular.woff2") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-Medium.woff2") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-SemiBold.woff2") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-Bold.woff2") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-ExtraBold.woff2") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "estedad";
  src: url("./assets/fonts/estedad/Estedad-FD-Black.woff2") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-light.woff2") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-Regular.woff2") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-Medium.woff2") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-SemiBold.woff2") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-Bold.woff2") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-ExtraBold.woff2") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "pelak";
  src: url("./assets/fonts/pelak/PelakFA-Black.woff2") format("woff");
  font-weight: 900;
}
